<div class="container">
  <div class="bio-photo">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412967/Me_wvlsqv.png" alt="">
  </div>
  <div class="bio">
    <h1>A few words about me</h1>
    <p>I'm a web developer based in Guangdong, China. <br>
    I love creating new stuff, and for a few years <br>
    I have been learning how to code so I could create <br>
    awesome products, and that's why I chose to join <br>
    <%= link_to "Le Wagon coding bootcamp!", "https://www.lewagon.com/" %> Now that I have graduated, <br>
    and learned an <%= link_to "amazing stack of technologies", "/stack" %> , I am <br>
    ready to help you make your products live!
    </p>
  </div>


</div>
