<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <div id="selfintro">
      <div id="photo"><img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412967/Me_wvlsqv.png" alt=""></div>
      <div class="introtext">
        <h2>Hi! I'm Alex Tolkachev</h2>
        <h2>I <span class="typed-text"></span><span class="cursor blink">&nbsp;</span></h2>
      </div>
    </div>
    <div class="projects-container">
      <div class="cards_wrap">
        <div class="cards_wrap__card">
          <div class="cards_wrap__card-stick">
            <h2>
              HERE ARE SOME OF MY PROJECTS
              <%= link_to do %> <span>See my projects</span> <% end %>
            </h2>

          </div>
        </div>
        <div class="cards_wrap__card">
          <div class="cards_wrap__card-stick color2">
            <h2>Compas<span>find your travel companion</span></h2>
          </div>
        </div>
        <div class="cards_wrap__card">
          <div class="cards_wrap__card-stick color3">
            <h2>Compas BnB<span>find your perfect stay!</span></h2>
          </div>
        </div>

        <div class="cards_wrap__card">
          <div class="cards_wrap__card-stick last">
            <h2>Movierate<span>Create custom lists of your favourite movies!</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="stack-container">
      <h2 class="stack-title">7 technologies mastered</h2>
      <div class="carousel">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active"  data-bs-interval="10000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/rails_daiche.png" class="d-flex w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/vuejs_ousc6e.png" class="d-flex w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412965/HTML_kt9cfs.png" class="d-flex w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412965/javascript_yczsih.png" class="d-block w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://logowik.com/content/uploads/images/postgresql6815.jpg" class="d-block w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/CSS_poiwba.png" class="d-block w-200" alt="...">
            </div>
            <div class="carousel-item"  data-bs-interval="5000">
              <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412965/javascript_yczsih.png" class="d-block w-200" alt="...">
            </div>
          </div>
          <%# <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> %>
        </div>
      </div>
      <div class="stack-link">
        <%= link_to "See how I create sites", "/stack"%>
      </div>
    </div>
    <div class="modal-box text-center">
      <button type="button" class="btn btn-dark  border border-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Send me a message!</button>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content text-bg-dark ">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Send Alex a message!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label ">Input your email so I can get back to you:</label>
                  <input type="text" class="form-control text-bg-dark" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control text-bg-dark" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-bs-target="#ModalToggle2" data-bs-toggle="modal">Send message</button>
            </div>
          </div>
        </div>
      </div>
      <div id="ModalToggle2" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content text-bg-dark">
          <div class="modal-header">
            <h5 class="modal-title">Message sent!</h5>
            <button type="button" class="btn-close text-bg-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</body>
