<div class="container-proj">
  <div class="intro-proj">
    <h1>My projects</h1>
    <h4>This is a collection of the projects that I have carried out so far, either myself
    or as a part of a team. The list is contantly being updated.</h4>
  </div>

  <%# <div id="carouselExampleCaptions" class="carousel slide carousel-fade d-none d-md-block w-md-65 m-5">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/img1_o0oqzh.png" class=" w-100 h-100">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/img2_erbij5.png"  class=" w-100 h-100 alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1691669399/Movierate_screenshot_crqt80.png"  class=" w-100 h-100 alt="...">
      </div>
    </div>
    <button class="carousel-control-prev bg-dark" style="--bs-bg-opacity: .3;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-dark" style="--bs-bg-opacity: .3;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> %>


  <div class="card text-bg-dark m-5 mb-0 w-80">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/img1_o0oqzh.png" class="card-img-top h-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Compas - find your travel partner!</h5>
      <p class="card-text">A website that allows anyone to find a suitable travel companion.
      Create a trip, find a trip suitable for you and have a once in a lifetime expreience.
      This project has been done by our development team as a graduation project
      at Le Wagon coding bootcamp. When completing this project, I had an honour
      of being its team lead.</p>
      <a href="https://github.com/andris811/Compas" class="btn btn-warning"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.compas.cc" class="btn btn-warning"><i class="fa-solid fa-globe"></i></a>
    </div>
  </div>

  <div class="card text-bg-dark m-5 mb-0 w-80">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1684412966/img2_erbij5.png" class="card-img-top  h-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">CompasBnB - find your perfect stay</h5>
      <p class="card-text">This is a clone of the world famous website AirBnB that was created by our team
      of web developers in a very short span of time - just one week! It was a learning
      project at Le Wagon coding bootcamp.</p>
      <a href="https://github.com/AlexTolk/Compas_BnB-vue" class="btn btn-warning"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>

  <div class="card text-bg-dark m-5 w-80">
    <img src="https://res.cloudinary.com/dl270riq7/image/upload/v1691669399/Movierate_screenshot_crqt80.png" class="card-img-top h-100" alt="...">
    <div class="card-body">
      <h5 class="card-title">Movierate - create and rate movie lists</h5>
      <p class="card-text">This site allows you to create, edit, and delete custom lists of movies.
      It was created as a Le Wagon coding bootcamp project.</p>
      <a href="https://github.com/AlexTolk/rails-watch-list" class="btn btn-warning"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>

</div>


</div>
