<div class="container-stack">
  <div class="intro-stack">
    <h1>This is how I do my job</h1>
    <h4>I use a wide array of techonolgies to bring products to completion from scratch til deployment.</h4>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="card text-bg-dark m-3 mb-3" style="width: 18rem;">
      <img src="https://camo.githubusercontent.com/600260352d4cd183ef318980816010d08cd29b9891a23e7bb1a5b61e595312eb/68747470733a2f2f657863616c69647261772e6e7963332e63646e2e6469676974616c6f6365616e7370616365732e636f6d2f67697468756225324670726f647563745f73686f77636173652e706e67" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Planning</h5>
        <p class="card-text">We'll get in touch via whatever media serves you best to discuss your needs. I'll sketch up a preliminary layout for you and we'll decide what features suit you best</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">Things I'll do:</li>
        <li class="list-group-item text-bg-dark">Communication</li>
        <li class="list-group-item text-bg-dark">Wireframing</li>
      </ul>
      <%# <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div> %>
    </div>
    <div class="card text-bg-dark m-3 mb-3" style="width: 18rem;">
      <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2020/09/p-2-90547870-figma-innovation-by-design-2020.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Design</h5>
        <p class="card-text">I will create a Figma design that will make your product stand out. I will always make it your way!</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">Things I'll do:</li>
        <li class="list-group-item text-bg-dark">Figma design</li>
      </ul>
      <div class="card-body">
        <a href="https://figma.com/" class="card-link">What's Figma?</a>
      </div>
    </div>
    <div class="card text-bg-dark m-3 mb-3" style="width: 18rem;">

      <img src="https://www.jetbrains.com/ruby/features/screenshots/features_editor_completion.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Backend functions</h5>
        <p class="card-text">This is when I will add all the cool features that your product needs using Ruby on Rails</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">Things I'll do:</li>
        <li class="list-group-item text-bg-dark">Code all the necessary functionality</li>
      </ul>
      <div class="card-body">
        <a href="https://rubyonrails.org/" class="card-link">Ruby on Rails?</a>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="card text-bg-dark m-3" style="width: 18rem;">
      <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/full_front_back.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Glossy frontend</h5>
        <p class="card-text">Now it's time to make your page shine! I will make your page dazzling with SCSS, JavaScript, HTML, and Vue.js</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">Things I'll do:</li>
        <li class="list-group-item text-bg-dark">Make your website appealing for customers</li>
      </ul>
      <div class="card-body">
        <a href="https://www.freecodecamp.org/news/frontend-vs-backend-whats-the-difference/#:~:text=What%20is%20Frontend%3F,part%20of%20a%20web%20application." class="card-link">What is frontend?</a>
      </div>
          <div class="card-body">
        <a href="https://www.simplilearn.com/tutorials/html-tutorial/html-vs-css" class="card-link">What's HTML and CSS?</a>
      </div>
          <div class="card-body">
        <a href="https://vuejs.org/" class="card-link">Why do you need Vue.js</a>
      </div>
    </div>
    <div class="card text-bg-dark m-3" style="width: 18rem;">
      <img src="https://www.simplus.com/wp-content/uploads/2017/08/deployment-strategy.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Deployment</h5>
        <p class="card-text">Then it's time to launch your website! I can help you buy a domain and deploy your website!</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-bg-dark">Things I'll do:</li>
        <li class="list-group-item text-bg-dark">Buy the domain that you like</li>
        <li class="list-group-item text-bg-dark">Help you deploy your site</li>
      </ul>
      <div class="card-body">
        <a href="https://www.webopedia.com/definitions/domain/#:~:text=A%20domain%20is%20a%20network,as%20Webopedia%20or%20webopedia.com." class="card-link">What's a domain?</a>
      </div>
      <div class="card-body">
        <a href="https://www.quora.com/What-is-web-deployment" class="card-link">What does 'deploying a site' mean?</a>
      </div>
    </div>
  </div>
  <div class="intro-stack">
    <h1>And remember, you can always rely on me! If you have any questions - feel free to reach out!</h1>
  </div>
</div>
