<div class="container-stack">
  <div class="intro-stack">
    <h1>This is how I do my job</h1>
    <h4>I use a wide array of techonolgies to bring products to completion from scratch til deployment.</h4>
  </div>
  <div class="stack-desc">
    <h1><i class="fa-solid fa-1"></i></h1><p> I will discuss your needs with you and determine what style,
      website architecture and features suit your endeavor best.
    </p>
  </div>
  <div class="stack-desc">
        <h1><i class="fa-solid fa-2"></i></h1><p> Using Figma I will quickly make a flawless website design
        that will enable your product to stand out
    </p>
  </div>
  <div class="stack-desc">
        <h1><i class="fa-solid fa-3"></i></h1><p> Then it's up to Ruby on Rails to do its magic, or, rather, me
        create any kind of functionality for your website using Ruby on Rails.
    </p>
  </div>
  <div class="stack-desc">
        <h1><i class="fa-solid fa-4"></i></h1><p> After that layout and website design is done using Vue.js, HTML5, CSS3
        and JavaScript.
    </p>
  </div>
  <div class="stack-desc">
        <h1><i class="fa-solid fa-5"></i></h1><p> Then I will help you buy your domain on Namecheap, set up and deploy your site using
        Scalingo.
    </p>
  </div>
  <div class="intro-stack">
    <h1>And remember, you can always rely on me! If you have any questions - feel free to reach out!</h1>
  </div>
</div>
