.container-proj {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  margin: 2em 4em;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.intro-proj {
  color: white;
  font-family: Lato;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.intro-proj h1 {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .container-proj{
    margin: 1em 2em;
  }
  .intro-proj h1 {
    padding: 0;
    margin: 5px;
  }
}
